<!-- Page Preloder -->
<div id="preloder">
	<div class="loader"></div>
</div>

<!-- Header section -->
<header class="header-section">
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 text-center text-lg-left">
					<!-- logo -->
					<a th:href="@{/home}" class="site-logo"> <img
						src="/public/img/logo.png" alt="">
					</a>
				</div>
				<div class="col-xl-6 col-lg-5">
					<form class="header-search-form">
						<input type="text" placeholder="Search on divisima ....">
						<button>
							<i class="flaticon-search"></i>
						</button>
					</form>
				</div>
				<div class="col-xl-4 col-lg-5">
					<div class="user-panel">
						<div class="up-item">
							<i class="flaticon-profile"></i> <a href="#">Sign</a> In or <a
								href="#">Create Account</a>
						</div>
						<div class="up-item">
							<div class="shopping-card">
								<i class="flaticon-bag"></i> <span>0</span>
							</div>
							<a th:href="@{/public/cart/}">Shopping Cart</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="main-navbar">
		<div class="container">
			<!-- menu -->
			<ul class="main-menu">
			<li><a href="#">Home</a></li>
					<li><a href="#">Women</a></li>
					<li><a href="#">Men</a></li>
					<li><a href="#">Jewelry
						<span class="new">New</span>
					</a></li>
					<li><a href="#">Shoes</a>
						<ul class="sub-menu">
							<li><a href="#">Sneakers</a></li>
							<li><a href="#">Sandals</a></li>
							<li><a href="#">Formal Shoes</a></li>
							<li><a href="#">Boots</a></li>
							<li><a href="#">Flip Flops</a></li>
						</ul>
					</li>
					<li><a href="#">Pages</a>
						<ul class="sub-menu">
							<li><a href="./product.html">Product Page</a></li>
							<li><a href="./category.html">Category Page</a></li>
							<li><a href="./cart.html">Cart Page</a></li>
							<li><a href="./checkout.html">Checkout Page</a></li>
							<li><a href="./contact.html">Contact Page</a></li>
						</ul>
					</li>
					<li><a href="#">Blog</a></li>
			
			<!-- <th:block data-th-each="category1 : ${categories}">
					<li><a href="#"></a>
					<span th:text="${category1.name}"></span></li>
					
					<li><a href="#"></a>
					<th:block data-th-if="${category1.categories.size()} > 0">										
						<ul class="sub-menu">
						<th:block data-th-each="category2 : ${category1.categories}">
							<li><a th:href="@{'/product/category/' + ${category2.idcategory}}"></a>
							<span th:text="${category2.name}"></span></li>	
						</th:block>						
						</ul>
					</th:block>
					</li>
			</th:block> -->
			</ul>			
		</div>
	</nav>
</header>
<!-- Header section end -->
