<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/divisimabd</property>
  <property name="hibernate.connection.username">root</property>
  <mapping class="pe.edu.unsch.entities.Brand"/>
  <mapping class="pe.edu.unsch.entities.Account"/>
  <mapping class="pe.edu.unsch.entities.AccountProfile"/>
  <mapping class="pe.edu.unsch.entities.Category"/>
  <mapping class="pe.edu.unsch.entities.Colour"/>
  <mapping class="pe.edu.unsch.entities.Module"/>
  <mapping class="pe.edu.unsch.entities.Option"/>
  <mapping class="pe.edu.unsch.entities.Orders"/>
  <mapping class="pe.edu.unsch.entities.Ordersdetail"/>
  <mapping class="pe.edu.unsch.entities.Partner"/>
  <mapping class="pe.edu.unsch.entities.Product"/>
  <mapping class="pe.edu.unsch.entities.Profile"/>
  <mapping class="pe.edu.unsch.entities.ProfileOption"/>
  <mapping class="pe.edu.unsch.entities.Submodule"/>
 </session-factory>
</hibernate-configuration>
